.request-button {
  position: absolute;
  top: 30rem;
  right: 26rem;
  background-color: rgb(152,251,152);
  border-radius:5px;

}
.request-button.stop {
  position: absolute;
  top: 30rem;
  right: 26rem;
  background-color: rgb(255,182,193);
  border-radius:5px;
  width: 90px;
  height: 27px;
  text-align: center; 

}

.download-button {
  position: absolute;
  top: 30rem;
  right: 12rem;
  background-color: rgb(255,250,205);
  border-radius:5px;
}

/* thermal.css */
.image-container img {
width: 300px; /* Fixed width */
height: 200px; /* Fixed height */
cursor: pointer;
position: absolute;
top:6rem;
left: 8rem;
}
#tab_1{
cursor: pointer;
position: absolute;
top:35rem;
left: 0rem;
}

.modal {
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px; /* Adjust based on your preference */
}

.close {
position: absolute;
top: 10px;
right: 25px;
color: white;
font-size: 35px;
font-weight: bold;
cursor: pointer;
}

#iframe{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 30rem;
  margin-bottom: 1rem; 
  }
